#root {
    background-color: lightskyblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}
img {
    border: 3px solid white;
}
img:hover {
    border: 3px solid yellow;
}

.child {
    width: 10%;
    height: 10%;
    margin: 3px;
}